<div class="container">
  <h1><%= @list.name %></h1>
  <%= cl_image_tag @list.photo.key, height: 300, width: 300, crop: :fill %>
  <br>
  <p>movies:</p>
  <div class="row">
    <% @bookmarks.each do |bookmark| %>
      <div data-aos="flip-down">
        <% @movie = Movie.find(bookmark.movie_id) %>
        <div class="col-3 flex-nowrap">
          <div class="card m-3 h-100">
            <%# <img src="..." class="card-img-top" alt="..."> %>
            <%= image_tag(@movie.poster_url)%>
            <div class="card-body">

              <h5 class="card-title"><%= @movie.title %></h5>
              <h5><%= @bookmark.comment %></h5>
              <p class="card-text"><%= @bookmark.comment %></p>
              <%= link_to "Delete the bookmark", bookmark_path(bookmark), method: :delete, class: "btn btn-custom" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
<p>Add a movie</p>
<%= render partial: "bookmarks/form", bookmark: @bookmark %>
<%#
  <div
    data-aos="fade-down"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
  >
  </div> %>
