<div class="container">
  <h1><%= @list.name %></h1>
  <%= cl_image_tag @list.photo.key, height: 300, width: 300, crop: :fill %>
  <br>
  <p>movies:</p>
  <div class="row" data-controller="animate">
    <% @bookmarks.each do |bookmark| %>
      <% @movie = Movie.find(bookmark.movie_id) %>
      <div class="col-3 flex-nowrap m-3" data-aos="fade-right">
        <div class="card m-3 p-1">

          <%= image_tag(@movie.poster_url)%>
          <div class="card-body">

            <h5 class="card-title"><%= @movie.title %></h5>
            <p class="card-text vertical"><%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), method: :delete, class: "btn btn-custom" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
<p>Add a movie</p>
<%= render partial: "bookmarks/form", bookmark: @bookmark %>
